[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
rich = "*"
pygithub = "*"
"ruamel.yaml" = "*"
pydantic = "*"
tomli = {version = "*", markers = "python_version < '3.11'"}
gitpython = "*"
mistune = {git = "https://github.com/exilium-com/mistune"}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
